<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-10"><h1>Employees</h1></div>
    <div class="col"><%= link_to 'New Employee', new_employee_path, :class => "btn btn-primary" %></div>
  </div>
</div>
<br>
<div class="container-md">
  <div class="table-responsive" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Num employee</th>
          <th scope="col">Private num</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
          <th scope="col">Mostrar</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.id %></td>
            <td><%= employee.num_employee %></td>
            <td><%= employee.private_num %></td>
            <td><%= employee.name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.position %></td>
            <td><%= employee.status %></td>
            <td><%= link_to image_tag('visibility.svg'), employee %></td>
            <td><%= link_to image_tag('edit.svg'), edit_employee_path(employee) %></td>
            <td><%= link_to image_tag('delete.svg'), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<div>
