<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-3"><strong>Id:</strong></div>
    <div class="col-3"><%= @employee.id %></div>
  
    <div class="col-3"><strong>Num employee:</strong></div>
    <div class="col-3"><%= @employee.num_employee %></div>

    <div class="col-3"><strong>Private num:</strong></div>
    <div class="col-3"><%= @employee.private_num %></div>

    <div class="col-3"><strong>Name:</strong></div>
    <div class="col-3"><%= @employee.name %></div>

    <div class="col-3"><strong>Email:</strong></div>
    <div class="col-3"><%= @employee.email %></div>

    <div class="col-3"><strong>Position:</strong></div>
    <div class="col-3"><%= @employee.position %></div>

    <div class="col-3"><strong>Status:</strong></div>
    <div class="col-3"><%= @employee.status %></div>
  </div>
  <br>
  <%= link_to 'Editar', edit_employee_path(@employee), :class => "btn btn-primary" %>
  <%= link_to 'Volver', employees_path, :class => "btn btn-primary" %>
</div>
