<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Num employee:</strong>
  <%= @employee.num_employee %>
</p>

<p>
  <strong>Private num:</strong>
  <%= @employee.private_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
