<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation"> 
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-12">
      <label for="inputName" class="form-label">Nombre de la Sucursal</label>
      <%= form.text_field :name, :class => "form-control" %>
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Domicilio de la Sucursal</label>
      <%= form.text_field :address, :class => "form-control" %>
    </div>

    <div class="actions col-12">
      <% if action_name=="edit" %>
          <%= form.submit "Actualizar Sucursal", :class => "btn btn-primary" %>
        <% else %>
          <%= form.submit "Crear Sucursal", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<% end %>
