<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>Sucursales Registradas</h1>
    </div>
    <div class="col">
      <%= link_to 'Nueva Sucursal', new_company_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<br>

<div class="container-md">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Mostrar</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>  
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.id %></td>
            <td><%= company.name %></td>
            <td><%= company.address %></td>
            <td><%= link_to image_tag('visibility.svg'), company %></td>
            <td><%= link_to image_tag('edit.svg'), edit_company_path(company) %></td>
            <td><%= link_to image_tag('delete.svg'), company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>
</div>